/*HOMEPAGE*/
body 
{
  margin: 0;
  font-family: 'Roboto Condensed', sans-serif;
}

/*Glowing effect for the word RHYTHM*/
.glow {
  color: rgb(188, 0, 0);
  text-align: center;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px #8b0000, 0 0 20px #b22222, 0 0 30px #dc143c, 0 0 40px #ff0000, 0 0 50px #ff0000, 0 0 60px #ff0000, 0 0 70px #ff0000;
  }
  to {
    text-shadow: 0 0 20px #8b0000, 0 0 30px #ff0000, 0 0 40px #ff0000, 0 0 50px #ff0000, 0 0 60px #ff0000, 0 0 70px #ff4500, 0 0 80px #ff4500;
  }
}

@keyframes glow {
  from {
    text-shadow: 0 0 10px #8b0000, 0 0 20px #b22222, 0 0 30px #dc143c, 0 0 40px #ff0000, 0 0 50px #ff0000, 0 0 60px #ff0000, 0 0 70px #ff0000;
  }
  to {
    text-shadow: 0 0 20px #8b0000, 0 0 30px #ff0000, 0 0 40px #ff0000, 0 0 50px #ff0000, 0 0 60px #ff0000, 0 0 70px #ff4500, 0 0 80px #ff4500;
  }
}

/*MAIN MENU*/
.screen
{
  height: 100vh;
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: start;
  align-items: center;
}

img
{
  object-fit: cover;
  position: absolute;
  min-width: 100vh;
  min-height: 100vh;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: -1;
}

audio
{
  display: none;
}

#playPauseButton 
{
  color: #fff;
  cursor: pointer;
}

.menu
{
  color: #fff;
  margin-left: 4em;
  text-transform: uppercase;
}

.menu h1
{
  font-size: 4em;
  letter-spacing: 30px;
  display: block;
  margin-bottom: 0.5em;
}

.menu h3
{
  font-weight: 300;
  font-size: 2.5em;
  text-align: center;
  letter-spacing: 10px;
  position: relative;
}

.menu ul
{
  list-style: none;
  padding: 0;
}

.menu li
{
  margin: 1em 0;
}

.menu li a
{
  text-decoration: none;
  color: #fff;
  font-weight: 700;
}

#sound
{
  position: absolute;
  right: 0;
  top: 0;
  margin: 1em;
  color: #fff;
  cursor: pointer;
}

.menu li a:hover,
#sound:hover
{
  color: #dbdbdb;
}

/*LOADING*/
.loading
{
  background-color: black;
  justify-content: center;
  text-align: center;
  font-weight: 300;
  letter-spacing: 10px;
}

#animation-container 
{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.tips
{
  margin-top: 500px;
}

/*DIFFICULTY*/
#easyCategory.selected,
#mediumCategory.selected,
#hardCategory.selected {
    background-color: #5c5c5c; /* Change to the color you want */
    color: #ffffff; /* Change to the color you want */
}

.title {
  color: #ffffff;
  font-family: "Coda", sans-serif;
  text-align: center;
}

.playbutton {
	margin: 0%;
	height: 3.70em;
  background: #5862b9;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background 0.1s;
}

button {
  color: white;
  font-family: "Coda", sans-serif;
  text-align: center;
  font-size: 20px;
  background: none;
  outline: none;
  border: 0;
}

.playbutton:hover {
  background: #bc1a6e;
}

/*RESPONSIVENESS*/
@media (max-width: 768px) {
  img {
    filter: brightness(70%);
  }

  .menu {
    align-self: center;
    margin-left: 2em;
  }

  .menu h1 {
    font-size: 3em;
    letter-spacing: 10px;
  }

  .menu h3 {
    display: none;
  }

  .menu ul
  {
    text-align: center;
    font-size: larger;
    text-decoration: none;
    font-weight: 700;
  }

  #tips {
    display: none;
  }
}