*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --option-color: #3643ff;
    --light-color: #fff;
    --dark-color: #000;
    --grey-color: #f2f2f2;
    --transition: all 300ms ease-in-out;
}

.flex{
    display: flex;
    align-items: center;
    justify-content: center;
}

body{
    overflow-y: hidden;
    min-height: 100vh;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: var(--dark-color);
    background: var(--grey-color);
    background-image: url(../Images/game-background.jpg);
    background-size: cover;
    font-family: 'Inconsolata', monospace;
}

/*LEADERBOARD*/
.wrapper{
    background: var(--light-color);
    padding: 1.5rem 4rem 3rem 4rem;
    width: 600px;
    height: 680px;
    position: relative;
    box-shadow: 0 4px 6px rgb(0 0 0 / 10%), 0 1px 3px rgb(0 0 0 / 10%);
}

.leaderboard-foot button{
    border: none;
    outline: 0;
    font-size: 1.2rem;
    font-weight: 600;
    padding: .5rem 1rem;    
    margin: 0 auto 0 auto;
    text-transform: uppercase;
    cursor: pointer;
    display: block;
    background-color: var(--grey-color);
    color: var(--dark-color);
    letter-spacing: 2px;
    transition: var(--transition);
    box-shadow: 0 4px 0 0 #bbbbbb;
}

.leaderboard-foot button:hover{
    background-color: #e6e6e6;
    box-shadow: 0 4px 0 0 #a7a7a7;
}

.leaderboard-foot button:active{
    transform: scale(0.95);
}

#back-home{
    margin-top: 0;
}

/*RESPONSIVENESS*/
@media(max-width: 678px){
    .wrapper{
        margin: 3rem 0;
        width: 90%;
        height: 90%;
        padding: 1.5rem 1rem 3rem 1rem;
        border-top-left-radius: 0;
        border-bottom-right-radius: 0;
    }
    .leaderboard-foot button{
        font-size: 1rem;
    }
}