/*HOMEPAGE*/
body 
{
  margin: 0;
  font-family: 'Roboto Condensed', sans-serif;
}

.screen
{
  height: 100vh;
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: start;
  align-items: center;
}

img
{
  position: absolute;
  min-width: 100vh;
  min-height: 100vh;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: -1;
}

audio
{
  display: none;
}

#playPauseButton {
  color: darkred;
  cursor: pointer;
}

.menu
{
  color: #fff;
  margin-left: 4em;
  text-transform: uppercase;
}

.menu h1
{
  font-size: 4em;
  letter-spacing: 30px;
  display: block;
  margin-bottom: 0.5em;
}

.menu h3
{
  font-weight: 300;
  font-size: 2.5em;
  text-align: center;
  letter-spacing: 10px;
  position: relative;
}

.menu ul
{
  list-style: none;
  padding: 0;
}

.menu li
{
  margin: 1em 0;
}

.menu li a
{
  text-decoration: none;
  color: #fff;
  font-weight: 700;
}

#sound
{
  position: absolute;
  right: 0;
  top: 0;
  margin: 1em;
  color: #fff;
  cursor: pointer;
}

.menu li a:hover,
#sound:hover{
  color: #dbdbdb;
}

/*LOADING*/
.loading
{
  background-color: black;
  justify-content: center;
  text-align: center;
  font-weight: 300;
  letter-spacing: 10px;
}

#animation-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.tips
{
  margin-top: 500px;
}

/*GAMEMODE 1 & 2 DIFFICULTY*/
.Easy
{
  background-color: rgb(51, 143, 255); 
  text-align: center;
  height: 100px;
  width: 100px;
  padding: 30px;
  margin: 10px;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
  border-radius: 10px;
  position: relative;
}

.Easy:hover 
{
  transform: translateY(-3px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.9);
}

.Hard
{
  background-color: rgb(255, 68, 68); 
  text-align: center;
  height: 100px;
  width: 100px;
  padding: 30px;
  margin: 10px;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
  border-radius: 10px;
  position: relative;
}

.Hard:hover 
{
  transform: translateY(-3px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.9);
}

.Diff 
{
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 50px;
  width: 100vw;
  height: 30vw;
}

.Diff > p 
{
  background-color: gray;
  margin: 25px;
  padding: 30px;
  font-size: 15px;
}

.selected {
  background-color: #b22dff; /* Darkened color for selected button */
  color: #fff;
}

.title {
  color: #ffffff;
  font-family: "Coda", sans-serif;
  text-align: center;
}
.profile {
  margin: auto;
	width: 27em; 
  height: 15em;
  background: #fff;
  border-radius: .3em;
}

.profile  #fullname {
  margin: auto;
  margin-top: -4.40em;
  margin-left: 5.80em;
  color: #dc8fff;
  font-size: 1.53em;
  font-family: "Coda", sans-serif;
  font-weight: bold;
}

#username {
  margin: auto;
  display: inline-block;
  margin-left: 10.43em;
  color: #7a588a;
  font-size: .87em;
  font-family: "varela round", sans-serif;
}

.profile > .description {
  margin: auto;
  margin-top: 1.35em;
  margin-bottom: 3em;
  margin-right: 3em;
  width: 18em;
  color: #4a5cb8;
  font-size: .87em;
  font-family: "varela round", sans-serif;
}

.profile > img#avatar {
	padding: .7em;
  margin-left: .3em;
  margin-top: .3em;
  height: 6.23em;
  width: 6.23em;
  border-radius: 18em;
}


.playbutton {
	margin: 0%;
	height: 3.70em;
  background: #5862b9;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background 0.1s;
}

button {
  color: white;
  font-family: "Coda", sans-serif;
  text-align: center;
  font-size: 20px;
  background: none;
  outline: none;
  border: 0;
}

.playbutton:hover {
  background: #bc1a6e;
}

.left,
.right
{
  justify-content: center;
  flex-direction: column;
  display: flex;
}

/*EASY MODE*/
#countdown-container {
  width: 100%;
  height: 30px;
  border: 1px solid #ccc;
  position: relative;
  overflow: hidden;
}

#countdown-bar {
  height: 100%;
  background-color: #4CAF50;
  width: 100%;
  transition: width linear;
}

#countdown-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #333;
  font-size: 16px;
}

.question {
  background-color: white;
  position: center;
  text-align: center;
  height: 5vw;
  justify-content: center;
}

.question > p {
  margin: 10px;
  padding: 10px
}

.answers
{
  background-color: gray; 
  background-image: url();
  background-size: cover;
  background-position: center;
  font-weight: bold;
  height: 20px;
  width: 300px;
  padding: 30px;
  margin: 10px;
  border-radius: 10px;
}

.ansGrid 
{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 100vw;
}

.ansGrid > p 
{
  background-color: gray;
  margin: 25px;
  padding: 30px;
  font-size: 15px;
}

.top,
.bottom
{
  justify-content: center;
  flex-direction: row;
  display: flex;
}

/*RESULT PAGE*/
.result
{
  background-color: rgb(51, 143, 255); 
  background-size: cover;
  background-position: center;
  text-align: center;
  height: 90px;
  width: 100px;
  padding: 30px;
  margin: 10px;
  border-radius: 10px;
  position: relative;
}

.resultGrid
{
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 70px;
  width: 100vw;
  height: 18vw;
}

.resultGrid > p 
{
  background-color: gray;
  margin: 25px;
  padding: 30px;
  font-size: 15px;
}

.leaderboard {
  width: 80vw;
  margin: 20px auto;
  background-color: #a480f9;
  border: 1px solid #332cc5;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.player {
  display: flex;
  gap: 70vw;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.player span {
  flex-grow: 1;
  font-size: 16px;
}

.player .score {
  font-size: 18px;
  font-weight: bold;
  color: #007bff;
}