/*GENERAL USE*/
body 
{
  color: white;
  overflow-x: hidden;
  background-color: rgb(80, 66, 123);
  height: 100%;
  margin: 0;
  padding: 0;
}

.navbar 
{
  display: flex;
  justify-content: center;
  background-color: rgb(139, 115, 255);
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
  border-radius: 10px;
  position: relative;
}

.navbar:hover 
{
  transform: translateY(-3px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.9);
}

.navbar > p 
{
  margin: 10px;
  padding: 10px;
  font-size: 15px;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out; /* Add this line */
}

.navbar>p:hover {
  background-color: red; /* Add this block */
  color: rgb(31, 81, 167); /* Add this block */
}
  
.footer-container {
  background-color: rgb(31, 81, 167);
  color: white;
  padding: 20px;
  text-align: center;
  position: relative;
}
  
.footer-content {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  font-size: 20px;
}
  
.copyright {
  position: absolute;
  bottom: 10px;
  right: 10px;
  text-align: right;
  padding: 10px;
  font-size: 15px;
}
  
.copyright > p {
  margin: 5px 0;
  color: white;
}

/*HOMEPAGE*/
.Gamemode1
{
  background-color: rgb(51, 143, 255); 
  background-size: cover;
  background-position: center;
  text-align: center;
  height: 100px;
  width: 100px;
  padding: 30px;
  margin: 10px;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
  border-radius: 10px;
  position: relative;
}

.Gamemode1:hover 
{
  transform: translateY(-3px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.9);
}

.Gamemode2
{
  background-color: rgb(255, 68, 68); 
  background-size: cover;
  background-position: center;
  text-align: center;
  height: 100px;
  width: 100px;
  padding: 30px;
  margin: 10px;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
  border-radius: 10px;
  position: relative;
}

.Gamemode2:hover 
{
  transform: translateY(-3px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.9);
}

.Admode
{
  background-color: rgb(127, 69, 141); 
  background-size: cover;
  position: center;
  text-align: center;
  height: 20px;
  width: 150px;
  padding: 30px;
  margin: 10px;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
  border-radius: 10px;
  position: relative;
}

.Admode:hover 
{
  transform: translateY(-3px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.9);
}

.Gamemodes 
{
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: darkred;
  background-image: url(Images/Background.jpg);
  background-position: top center;
  gap: 70px;
  width: 100vw;
  height: 18vw;
}

.Gamemodes > p 
{
  background-color: gray;
  margin: 25px;
  padding: 30px;
  font-size: 15px;
}

.Adventure 
{
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: darkred;
  background-image: url(Images/Background.jpg);
  background-position: center;
  width: 100vw;
  height: 9.7vw;
}

.Adventure > p 
{
  background-color: gray;
  margin: 25px;
  padding: 30px;
  font-size: 15px;
}

.Genre
{
  background-color: gray; 
  background-image: url();
  background-size: cover;
  background-position: center;
  font-weight: bold;
  height: 120px;
  width: 120px;
  padding: 30px;
  margin: 10px;
  border-radius: 10px;
}

.GenreGrid 
{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-image: url(Images/Background2.jpg);
  background-size: cover;
  background-color: rgb(127, 69, 141);
  width: 100vw;
}

.GenreGrid > p 
{
  background-color: gray;
  margin: 25px;
  padding: 30px;
  font-size: 15px;
}

.top-row,
.middle-row,
.bottom-row 
{
  justify-content: center;
  flex-direction: row;
  display: flex;
}

/*GAMEMODE 1 DIFFICULTY*/


